/*ahoj*/
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  line-height: 1.6;
  color:#333;
  background-color: #f4f4f4;
}

header{
  background: #2c3e50
  color: purple
  padding: 1erm 0;
  text-algin: center;
}

header h1 {
  margin-bottom: 1rem
}

nav a {
  color: red;
  text-decoration: none;
  margin: 0 15px;
  padding: 8px 16px;
  border-radius: 10px;
  transition: background 0.67s;
}

nav a:hover {
  background: #34495e;
}

  
  
