/*ahoj*/
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "double-struck";
  line-height: 1.6;
  color:#333;
  background-color: #f4f4f4;

}

header{
  background: #2c3e50
  color: purple
  padding: 1erm 0;
  text-algin: center;
}

header h1 {
  margin-bottom: 1rem
}

nav a {
  color: red;
  text-decoration: none;
  margin: 0 15px;
  padding: 8px 16px;
  border-radius: 10px;
  transition: background 0.67s;
}

nav a:hover {
  background: #34495e;
}
  
#about {
  width: 50%;
  margin: 20%;
  border:_ 1px black;
}

p {
  font-size: 38px;   /* zvětší písmo */
}

main {
  max-width: 800px;
  margin:2rem auto;
  padding: 0  1rem;
  background: white;
  border-radius: 8px
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

